.flexContainer {
  composes: sideBySideCenter from 'styles/utils.module.css';
}

.text {
  /*上下パディングを設定*/
  padding-top: calc(var(--display) * 0.5);
  padding-bottom: calc(var(--display) * 0.7);
}

.title {
  /*フォントサイズ, 太さ, 字間を指定*/
  font-size: var(--display);
  font-weight: 900;
  letter-spacing: 0.15em;
}

.subtitle {
  /*フォントサイズを指定*/
  font-size: var(--small-heading2);
}

/*image
これは、.image クラスが指定された要素の幅を100%に設定するスタイルです。要素は親要素に対して100%の幅を持ちます。*/
.image {
  width: 100%;
}

/*min-width: 768px なので、画面の幅が768px以上の場合に有効になります。
この場合、.image クラスの要素の幅が50%に変更されます。*/
@media (min-width: 768px) {
  .image {
    width: 50%;
  }
}
