/*横並びの基本形の css をcomposes*/
.flexContainer {
  composes: sideBySide from './utils.module.css';
  gap: var(--space-md);
  margin: var(--space-md) 0 var(--space-lg);
}

/*メインとサイドバーの横幅を指定*/
@media (min-width: 768px) {
  .main {
    width: 768px;
  }

  /*スクロールに合わせて固定表示する position: sticky
  top では固定時に上に確保する余白サイズを指定
  align-self を flex-start 上揃えにしている*/

  .sidebar {
    width: 240px;
    position: sticky;
    top: 40px;
    align-self: flex-start;
  }
}

/*テキストなどのインライン要素は tex-align で right を指定*/
.sidebar * {
  text-align: right;
}

/*ブロック要素は中身に合わせた横幅 fit-content にして左マージンを auto にすることで右揃えにする
Flexbox でレイアウトされた要素も右揃えになるように指定する*/
.sidebar :is(div, ul) {
  width: fit-content;
  margin-left: auto;
  place-items: flex-end;
  place-content: flex-end;
}
